.control-gender__inner {
  display: flex;
  align-items: end;
  column-gap: 30px;

  .control__label {
    margin-right: -15px;
  }

  .input-gender {
    width: 18px;
    height: 18px;
  }

  .control__label {
    margin-bottom: 0;
  }
}
